html {
  font-family: Roboto;
}

.card-news {
  overflow: hidden;
  min-height: 180px;
  min-width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-news img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-news h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-news p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-news .card-news-infos {
  padding: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.form-container .login{
  padding: 20px 40px;
  margin-top: 18px;
  border-radius: 15px;
  border-color: #efefef !important;
  box-shadow: 0px 1px 9px #efefef;
}

/* Likes button */
.like-button {
  background-color: #fff;
  border: 1px solid #0D6EFD;
  border-radius: 8px;
  color: #0D6EFD;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}

.like-button:hover {
  background-color: #0D6EFD;
  color: #fff;
}

.like-button.clicked {
  background-color: #0D6EFD;
  border-color: #0D6EFD;
  color: #fff;
}

.like-button.clicked:hover {
  background-color: #1565c0;
  border-color: #1565c0;
}

.like-button .like-count {
  margin-left: 8px;
}

.like-button .like-text {
  margin-left: 8px;
}



/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/* add_news
.container{
  margin-top: 100px;
} */
